<div id="<%= dom_id ratio %>">
  <p>
    <strong>Dn:</strong>
    <%= ratio.dn %>
  </p>

  <p>
    <strong>Tps demandrinage:</strong>
    <%= ratio.tps_demandrinage %>
  </p>

  <p>
    <strong>Ratio ac:</strong>
    <%= ratio.ratio_ac %>
  </p>

  <p>
    <strong>Ratio rm:</strong>
    <%= ratio.ratio_rm %>
  </p>

</div>
