
    <tr id="<%= dom_id matter %>">
      <td>  <%= matter.name %></td>
      <td>    <%= matter.price_local %></td>
      <td>   <%= matter.price_export %></td>
      <td>   <%= matter.category_id %></td>   
      <td> <%= link_to "Show this matter", matter %></td>
    </tr>