<div id="<%= dom_id tube %>">
  <p>
    <strong>Country:</strong>
    <%= tube.country %>
  </p>

  <p>
    <strong>Pressure:</strong>
    <%= tube.pressure %>
  </p>

  <p>
    <strong>Mat:</strong>
    <%= tube.mat %>
  </p>

  <p>
    <strong>Type piece:</strong>
    <%= tube.type_piece %>
  </p>

  <p>
    <strong>Dn:</strong>
    <%= tube.dn %>
  </p>

  <p>
    <strong>Ac:</strong>
    <%= tube.ac %>
  </p>

  <p>
    <strong>Rm:</strong>
    <%= tube.rm %>
  </p>

  <p>
    <strong>Quantity:</strong>
    <%= tube.quantity %>
  </p>

  <p>
    <strong>Price mo:</strong>
    <%= tube.price_mo %>
  </p>

  <p>
    <strong>Voile ac:</strong>
    <%= tube.voile_ac %>
  </p>

  <p>
    <strong>Barear ac:</strong>
    <%= tube.barear_ac %>
  </p>

  <p>
    <strong>Charge ac:</strong>
    <%= tube.charge_ac %>
  </p>

  <p>
    <strong>Resine rm:</strong>
    <%= tube.resine_rm %>
  </p>

  <p>
    <strong>Charge rm:</strong>
    <%= tube.charge_rm %>
  </p>

  <p>
    <strong>Color:</strong>
    <%= tube.color %>
  </p>
   <p>
    <strong>Voile AC</strong>
    <%= tube.number_voile_ac %>
  </p>


  <p>
    <strong>Prix par pièce </strong>
    <%= tube.price_mp.ceil %> euro
  </p>
  <p>
    <strong>Prix par Final </strong>
    <%= tube.price_mgcom.ceil() %> euro
  </p>
</div>
<table>
  <thead>
    <tr>
      <th>Column 1</th>
      <th>Column 2</th>
      <th>Column 3</th>
      <th>Column 4</th>
      <th>Column 5</th>
      <th>Column 6</th>
      <th>Column 7</th>
      <th>Column 8</th>
      <th>Column 9</th>
      <th>Column 10</th>
      <th>Column 11</th>
  
    </tr>
  </thead>
    <tbody>

      <tr>
        <td><%= tube.f_1 %></td>
        <td><%= tube.f_2  %></td>
        <td><%= tube.f_3  %></td>
        <td><%= tube.f_4 %></td>
        <td><%= tube.f_5 %></td>
        <td><%= tube.f6_7 %></td>
        <td><%= tube.f8_9 %></td>
        <td><%= tube.f_10 %></td>
        <td><%= tube.f_11 %></td>
        <td><%= tube.f_12 %></td>
        <td><%= tube.f_13%></td>
   
      </tr>

  </tbody>
</table>