<div id="<%= dom_id loss %>">
  <p>
    <strong>Dn:</strong>
    <%= loss.dn %>
  </p>

  <p>
    <strong>Lenght useful:</strong>
    <%= loss.lenght_useful %>
  </p>

  <p>
    <strong>Loss orhto:</strong>
    <%= loss.loss_orhto %>
  </p>

  <p>
    <strong>Loss helico:</strong>
    <%= loss.loss_helico %>
  </p>

</div>
